@keyframes menu_in{
  0%{
    left:100%;
  }
  25%{
    left:90%;
  }
  100%{
    left:75%;
  }
}
@keyframes menu_out{
  0%{
    left:75%;
  }
  25%{
    left:90%;
  }
  100%{
    left:100%;
  }
}
.sidebar_out{
  animation: menu_out 0.5s both ease-out;
  left:100%;
}
.sidebar_in{
  animation: menu_in 0.5s both ease;
  left:75%;
}

/*
NOW FOR BUTTON ANIMATIONS
*/
@highlighting_me{
  0%{
    background-color: #fff;
    color: #000;
  }
  100%{
    background-color: #000;
    color: #fff;
  }
}
.activate_button{
animation: highlighting_me 1s both ease-out;
}
@keyframes scrollReveal {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply to sections you want animated */
#about_us, 
#gallery, 
#events {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.scroll-animate {
  animation: scrollReveal 1s forwards;
}
